<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @user.mobile %>
</p>

<p>
  <b>Isfbuser:</b>
  <%= @user.isFBUser %>
</p>

<p>
  <b>Isgrouporganiser:</b>
  <%= @user.isGroupOrganiser %>
</p>

<p>
  <b>Photourl:</b>
  <%= @user.photourl %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
