<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Value:</b>
  <%= @contact.value %>
</p>

<p>
  <b>Description:</b>
  <%= @contact.description %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
