<h1>Listing constants</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Value</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @constants.each do |constant| %>
  <tr>
    <td><%= constant.title %></td>
    <td><%= constant.value %></td>
    <td><%= constant.description %></td>
    <td><%= link_to 'Show', constant %></td>
    <td><%= link_to 'Edit', edit_constant_path(constant) %></td>
    <td><%= link_to 'Destroy', constant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Constant', new_constant_path %>
