<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @constant.title %>
</p>

<p>
  <b>Value:</b>
  <%= @constant.value %>
</p>

<p>
  <b>Description:</b>
  <%= @constant.description %>
</p>


<%= link_to 'Edit', edit_constant_path(@constant) %> |
<%= link_to 'Back', constants_path %>
